<head>
    <%- include("./head/Meta.ejs") %>
    <%- include("./head/Css.ejs") %>
    <%- include("./head/Scripts.ejs") %>
    <%- include("./head/Search.ejs") %>
    <%- include("./head/Embed.ejs") %>
    <%- include("./head/AOS.ejs") %>
    <title>Phat Lorthammakun</title>
</head>
