<!DOCTYPE html>
<html lang="en">

<%- include("./components/Head.ejs") %>

<body>
    <%- include("./components/NavBar.ejs") %>
    <%- include("./components/Home.ejs") %>
    <%- include("./components/About.ejs") %>
    <%- include("./components/Projects.ejs") %>
    <%- include("./components/Achievement.ejs") %>
    <!-- <script src="js/unsupportedscreen.js"></script> -->
    <script async src="js/global.js"></script>
    <script src="js/certificates.js"></script>
    <script src="js/awards.js"></script>
    <script>
      init();
      renderCertificates();
      renderAwards();
    </script>
    <%- include("./components/Footer.ejs") %>
  </body>

</html>