<!DOCTYPE html>
<html lang="en">

<%- include("./components/Head.ejs") %>

<body>
  <div id = "loading">
  </div>
  <div id = "site-content" style="display: none;">
    <%- include("./components/NavBar.ejs") %>
    <%- include("./components/Home.ejs") %>
    <%- include("./components/About.ejs") %>
    <%- include("./components/Projects.ejs") %>
    <%- include("./components/Achievement.ejs") %>
    <%- include("./components/Footer.ejs") %>
  </div>
    <script src="js/unsupportedscreen.js"></script>
    <script src="js/certificates.js"></script>
    <script src="js/awards.js"></script>
    <script src="js/global.js"></script>
    <script src="js/init.js""></script>
    <script src="js/assetsValidator.js"></script>
    <script>
      // load();
      // hide();
      // init();
      // renderCertificates();
      // renderAwards();
    </script>
  </body>

</html>