<!DOCTYPE html>
<html lang="en" id="main">

<%- include("./components/Head.ejs") %>

<body>
  <div id = "loading">
    <div id ="loading-container">
      
    </div>
  </div>
  <div id = "site-content" style="display: none;">
    <%- include("./components/NavBar.ejs") %>
    <%- include("./components/Home.ejs") %>
    <%- include("./components/About.ejs") %>
    <%- include("./components/Projects.ejs") %>
    <%- include("./components/Achievement.ejs") %>
    <%- include("./components/Footer.ejs") %>
  </div>
    <script src="js/unsupportedscreen.js"></script>
    <script src="js/certificates.js"></script>
    <script src="js/awards.js"></script>
    <script src="js/global.js"></script>
    <script src="js/init.js"></script>
    <script src="js/disablescroll.js"></script>
    <!-- <script src="js/scrollanimation.js"></script> -->
    <script>
      // load();
      // hide();
      // init();
      // renderCertificates();
      // renderAwards();
      var inData = <%- JSON.stringify(lang) %>
      AOS.init();

    </script>
  </body>

</html>